*,*:after, *:before {
    box-sizing: border-box;
}




img{
    width: 100%;
     /* position:absolute; 
     top:50%;
    left:50%; 
     display: block;  */
    

}

.rcard-list{
    width: 90%;
    max-width: 400px;

}

.rcard{
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
    border-radius: 15px;
    overflow:hidden;
    padding: 1.25rem;
    position: relative;
    transition: .15s ease-in;
    border: 1px solid green;

    &:hover, &:focus-within{
        box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(#000, .1);
        transform: translateY(-5px);
    }
}

.rcard a{
    text-decoration: none;
}

.rcard-image{
    border-radius: 10px;
    overflow: hidden;
}

.rcard-header{
    margin-top:1.5rem;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

.rcard-title{
    color: black;
}
















/* .RecipeCard{
    margin-bottom: 1rem;
    color: inherit;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

} */

/* .card-title {
   font-size: 16px;
} */

/* .RecipeCard:hover{
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.12)
} */